<!DOCTYPE html>
<html>
  <head>
    <title>JoChi Travel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/travels">View Destinations</a>
          <% if current_user %>
            <a class="navbar-brand" href="#"> Signed in as <%= current_user.email %> </a>
            <a class="navbar-brand" href="/users/sign_out" data-method="delete" value="<%= destroy_user_session_path%>">Sign Out</a>
          <% else %>
            <a class="navbar-brand" href="/users/sign_in">Sign in</a>
            <a class="navbar-brand" href="/users/sign_up">Sign up</a>
          <% end %>  
        </nav>
            <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>

